/Ficha1/teste/nbproject/private/
/Ficha1/teste/build/
/1_7_valor_PATH_TEMP_USERNAME_/build/
/1_7_valor_PATH_TEMP_USERNAME_/nbproject/private/
/1_8_VolumeCone/build/
/1_8_VolumeCone/nbproject/private/
/hexagono1_9/build/
/hexagono1_9/dist/
/hexagono1_9/nbproject/private/
/Ficha 1/1_7_valor_PATH_TEMP_USERNAME_/build/
/Ficha 1/1_7_valor_PATH_TEMP_USERNAME_/nbproject/private/
/Ficha 1/1_8_VolumeCone/build/
/Ficha 1/1_8_VolumeCone/nbproject/private/
/Ficha 1/hexagono1_9/build/
/Ficha 1/hexagono1_9/dist/
/Ficha 1/hexagono1_9/nbproject/private/
/Ficha 2/2_4_quantidadeLitros/nbproject/private/
/Ficha 2/2_4_quantidadeLitros/build/
/Ficha 2/2_5_brutoliquido/nbproject/private/
/Ficha 2/2_5_brutoliquido/build/
/Ficha 2/2_6_killowatts/nbproject/private/
/Ficha 2/2_6_killowatts/build/
/Ficha 1/2_7_banco/nbproject/private/
/Ficha 1/2_9_meses/nbproject/private/
/Ficha 1/2_9_meses/build/
/Ficha 1/resultado/nbproject/private/
/Ficha 1/resultado/build/
/Ficha 3/testes/nbproject/private/
/Ficha 3/testes/build/
/Ficha 3/testes/dist/
/PROGRAMAÇÃO/Ficha 4/4_10media/nbproject/private/
/PROGRAMAÇÃO/Ficha 4/4_10media/build/
/PROGRAMAÇÃO/Ficha 4/10Estudantes/nbproject/private/
/PROGRAMAÇÃO/Ficha 4/10Estudantes/build/
/PROGRAMAÇÃO/Ficha 4/4_11alturaI16/nbproject/private/
/PROGRAMAÇÃO/Ficha 4/4_11alturaI16/build/
/PROGRAMAÇÃO/Ficha 4/4_11empregadosSalario/nbproject/private/
/PROGRAMAÇÃO/Ficha 4/4_11empregadosSalario/build/
/PROGRAMAÇÃO/Ficha 4/4_13tabuada/nbproject/private/
/PROGRAMAÇÃO/Ficha 4/4_13tabuada/build/
/PROGRAMAÇÃO/Ficha 4/4_14Rendimento/nbproject/private/
/PROGRAMAÇÃO/Ficha 4/4_14Rendimento/build/
/PROGRAMAÇÃO/Ficha 4/4_16valoresTeclado/nbproject/private/
/PROGRAMAÇÃO/Ficha 4/4_16valoresTeclado/build/
/PROGRAMAÇÃO/Ficha 4/4_17_InseridosUmaUm/nbproject/private/
/PROGRAMAÇÃO/Ficha 4/4_17_InseridosUmaUm/build/
/PROGRAMAÇÃO/Ficha 4/4_18Perfeito/nbproject/private/
/PROGRAMAÇÃO/Ficha 4/4_18Perfeito/build/
/PROGRAMAÇÃO/Ficha 4/imparNR/nbproject/private/
/PROGRAMAÇÃO/Ficha 4/imparNR/build/
/PROGRAMAÇÃO/Ficha 5/5_2Casting/nbproject/private/
/PROGRAMAÇÃO/Ficha 5/5_2Casting/build/
/PROGRAMAÇÃO/Ficha 5/5_17EspacoVogais/nbproject/private/
/PROGRAMAÇÃO/Ficha 5/5_17EspacoVogais/build/
