/Ficha1/teste/nbproject/private/
/Ficha1/teste/build/
/1_7_valor_PATH_TEMP_USERNAME_/build/
/1_7_valor_PATH_TEMP_USERNAME_/nbproject/private/
/1_8_VolumeCone/build/
/1_8_VolumeCone/nbproject/private/
/hexagono1_9/build/
/hexagono1_9/dist/
/hexagono1_9/nbproject/private/
