/Ficha1/teste/nbproject/private/
/Ficha1/teste/build/
/1_7_valor_PATH_TEMP_USERNAME_/build/
/1_7_valor_PATH_TEMP_USERNAME_/nbproject/private/
/1_8_VolumeCone/build/
/1_8_VolumeCone/nbproject/private/
/hexagono1_9/build/
/hexagono1_9/dist/
/hexagono1_9/nbproject/private/
/Ficha 1/1_7_valor_PATH_TEMP_USERNAME_/build/
/Ficha 1/1_7_valor_PATH_TEMP_USERNAME_/nbproject/private/
/Ficha 1/1_8_VolumeCone/build/
/Ficha 1/1_8_VolumeCone/nbproject/private/
/Ficha 1/hexagono1_9/build/
/Ficha 1/hexagono1_9/dist/
/Ficha 1/hexagono1_9/nbproject/private/
/Ficha 2/2_4_quantidadeLitros/nbproject/private/
/Ficha 2/2_4_quantidadeLitros/build/
/Ficha 2/2_5_brutoliquido/nbproject/private/
/Ficha 2/2_5_brutoliquido/build/
